<div class="product-card">
    <button class="prev-btn" (click)="changeImage(-1)">&#10094;</button>
  
    <img [src]="product.images[product.currentImageIndex!]" [alt]="product.name" class="product-image"
         (click)="goToStore()" style="cursor: pointer;">
  
    <button class="next-btn" (click)="changeImage(1)">&#10095;</button>
  
    <h2>{{ product.name }}</h2>
    <p>Цена: {{ product.price }}$</p>
    <p>Рейтинг: ⭐{{ product.rating }}</p>
  
    <button class="share-btn" (click)="share('whatsapp')">📤 Поделиться в WhatsApp</button>
    <button class="share-btn" (click)="share('telegram')">📤 Поделиться в Telegram</button>
  </div>
  